{% extends "base.html" %}

{% block content %}
    <style>
        form {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"], input[type="date"] {
            width: calc(100% - 22px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: darkred;
        }

        
    </style>

    <div class="exchange-icon"></div>
    <h2 style="text-align: center; font-family: Arial, sans-serif;">Book Your Trip</h2>
    <form action="{% url 'booking-results' %}" method="get">
        {% csrf_token %}
        <label for="from">From:</label>
        <input type="text" id="from" name="from" required><br><br>

        <label for="to">To:</label>
        <input type="text" id="to" name="to" required><br><br>

        <label for="day">Date:</label>
        <input type="date" id="date" name="date" required><br><br>

        <input type="submit" value="Book Now">
    </form>
{% endblock %}