{% extends "base.html" %}

{% block content %}
    <style>
        .booking-info {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
        }
        .booking-info h1 {
            color: #333;
        }
        .booking-info p {
            color: #555;
        }
        .not-verified {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            border: 1px solid #f00;
            border-radius: 10px;
            background-color: #ffe6e6;
            color: #f00;
        }
    </style>

    {% if booking.is_verified %}
        <div class="booking-info">
            <h1>Booking Information</h1>
            <p>Booking ID: {{ booking.id }}</p>
            <p>Customer Name: {{ booking.user.username }}</p>
            <p>Booking Date: {{ booking.date }}</p>
            <p>Booking Status: {{ booking.is_verified }}</p>
            <p>Booking Seats:</p>
            <ul>
            {% for seat_type, seat_no in booking.seats_requested.items %}
                <li>{{ seat_type }}: {{ seat_no }}</li><br>
            {% endfor %}
            </ul>
            <p>You can cancel the ticket till 6 days of validity.</p>
            <form action="{% url 'booking-cancelbooking' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cancel Booking</button>
            </form>
        </div>
    {% else %}
        <div class="not-verified">
            <p>Booking is not verified.</p>
        </div>
    {% endif %}
{% endblock %}